.search-bar {
    position: absolute;
    z-index: 10;
    left: 2rem;
    right: 2rem;
    bottom: 2rem;
    text-align: center;

    input {
        box-sizing: border-box;
        line-height: 2rem;
        display: inline-block;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        width: 50%;
        border-radius: 0.3rem;
        background-color: rgba(black, 0.5);
        outline: 0;
        border: 0.1rem solid rgba(white, 0.2);
        color: white;
    }
}